
.push-container {
    padding: 10px;
    position: relative;
    .publish-toast{
        position: fixed;
        min-width: 150px;
        max-width: 250px;
        padding: 15px;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        border-radius: 8px;
        background-color: rgba($color: #000000, $alpha: .4);
        transform: translateX(-50%) translateY(-50%);
    }
  .upload-image-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: .5px solid rgba($color: #000000, $alpha: .2);
    .upload-image-button{
        margin-right: 10px;
        position: relative;
        width: 100px;
        height: 100px;
        border: .5px solid rgba($color: #000000, $alpha: .2);
        border-radius: 5px;
        padding: 10px;
        input{
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0;
            top: 0;
            left: 0;
        }
        .upload-button-image{
            background-image: url(../../common/images/upload.svg);
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
  }
  .upload-image-preview{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      .image {
          margin-bottom: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
        flex-shrink: 0;
      }
  }
  .article-title{
      margin-top: 20px;
      display: flex;
      align-items: center;
      .article-title-text{
          font-size: 20px;
          margin-right: 10px;
      }
      input{
          padding: 0 4px;
          flex: auto;
          outline: none;
          border:none;
          border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
          font-size: 17px;
          color: rgba($color: #000000, $alpha: .9);
      }
  }
  .article-content{
      margin-top: 10px;
    .article-content-text{
        font-size: 20px;
        margin-bottom: 10px;
    }
    textarea{
        width: 100%;
        height: 400px;
        padding: 8px;
        box-sizing: border-box;
        font-size: 17px;
        color: rgba($color: #000000, $alpha: .9);
    }
  }
  .article-submit{
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      border-radius: 8px;
      font-size: 17px;
      border: .5px solid rgba($color: #000000, $alpha: .2);
  }
}
