.user-item-container{
    width: 100%;
    height: 48px;
    margin: 12px 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    .user-avatar{
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    .user-main{
        flex: auto;
        display: flex;
        flex-direction: column;

        height: 100%;
        .user-name{
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 6px;
        }
        .user-description{
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba($color: #000000, $alpha: .6);
            font-size: 15px;
        }
    }
}