.article-detail {
  padding-bottom: 15px;
  position: relative;
  .toast {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    background-color: rgba($color: #000000, $alpha: 0.9);
  }
  .draw-container {
    padding-top: 68px;
    z-index: 1000;
    .draw-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 17px;
      color: rgba($color: #000000, $alpha: 0.7);
      border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.2);
    }
  }
  .article-like {
    width: 55px;
    height: 45px;
    position: fixed;
    right: 0;
    top: 180px;
    right: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    &.isPC{
    left: 50%;
    transform: translateX(185px);

    }
    .like-icon {
      width: 40px;
      height: 40px;
      overflow: hidden;
      background-color: #fff;
      background-image: url(../../common/images/unlike.svg);
      background-size: cover;
      &.liked {
        background-image: url(../../common/images/like.svg);
      }
    }
  }
  .article-title-bar {
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    display: flex;
    height: 48px;
    padding: 0 10px;
    align-items: center;
    max-width: 525px;
    border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.2);
    .back-icon {
      width: 24px;
      height: 24px;
      background-image: url(../../common/images/back.svg);
      background-size: cover;
      margin-right: 10px;
      flex-shrink: 0;
    }
    .article-author-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      flex-shrink: 0;
    }
    .article-author-name {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      flex: auto;
    }
    .follow-btn {
      width: 80px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border-radius: 8px;
      font-size: 14px;
      margin-right: 15px;
      font-weight: 500;
      border: 0.5px solid rgba($color: #000000, $alpha: 0.2);
    }
    .article-more {
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background-image: url(../../common/images/more.svg);
      background-size: cover;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .article-carousel {
    padding-top: 50px;
  }
  .article-cover {
    height: 400px;
    object-fit: cover;
  }
  img {
    margin: 0;
    padding: 0;
  }
  .article-main {
    margin-top: 10px;
    padding: 0 10px;
    .article-title {
      line-height: 25px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .article-content {
      font-size: 15px;
      color: rgba($color: #000000, $alpha: 0.7);
      line-height: 25px;
    }
  }
}
.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading-icon {
    width: 40px;
    height: 40px;
    background-image: url(../../common/images/loading.svg);
    background-size: cover;
    animation: load 1s linear infinite;
  }
  @keyframes load {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.comment-input-container {
  position: fixed;
  bottom: 0;
  height: 48px;
  display: flex;
  padding: 8px 10px;
  align-items: center;
  width: 100%;
  max-width: 525px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  border-top: 0.5px solid rgba($color: #000000, $alpha: 0.2);
  background-color: #fff;
  overflow: hidden;
  padding-right: 50px;
  .input {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 10px;
    // height: 35px;
    flex: auto;

    input {
      flex: auto;
      height: 30px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: 0;
      border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.2);
      outline: none;
      margin-right: 10px;
    }
  }
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: yellow;
    font-size: 16px;
    margin-left: 15px;
  }
  .like-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background-size: cover;
    background-image: url(../../common/images/unlike.svg);

    &.liked {
      background-image: url(../../common/images/like.svg);
    }
  }
}
.comments-list-container {
  padding: 10px;
  .comment-title {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 30px;
  }
  .comment-list{
    padding-bottom: 48px;
  }
}
